<h1>{{ title }}</h1>
<p>Welcome to {{title}}</p>



{{# exists success }}  {{!--true or false but not undefined or null--}}
  success not undefined 
{{/exists}}
{{# if errors }}
  <section class="errors">
    <ul>
      {{# each errors}}
         <li>{{this.msg}}</li>
      {{/each}}    
    </ul>    
  </section>  

{{/if}}


<div class="container">

      <form class="form-signin" action="/submit" method="post">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputEmail" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </form>

    </div> 